@use "../../assets/sass/variables" as *;

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    
}

button{
    background-color: $color-tertiary;
    color: $color-primary;
    padding: 5px 20px;
    margin: 20px;
    font-size: 1.5em;
    border: 2px $color-secondary solid;
}